nav
  display flex
  align-items center
  justify-content space-between
  padding 0 20px

.links
  display flex
  gap 30px
  list-style none

  li
    a
      text-transform capitalize
      color text-color
      text-decoration none
      letter-spacing -0.35px
      font-weight 500
      font-size 18px
      transition all 0.3s ease-in-out
      &:hover
        color green-color

.logo
  font-size 50px
  font-weight 700
  line-height 80px
  letter-spacing 1.2px
  text-decoration none
  color text-color
  span
    color green-color