#premium
  gap 20px
  align-items: center;
  height calc(60vh)
  span
    color green-color
    font-weight 700

  .left
    display flex
    flex-direction column
    gap 40px
    align-items flex-start