main-color = #161B22
text-color = #fff
green-color = #55FF99
gray-color = #B8B6B4
blue-color = #47BFFF

h1-font-size = 48px
h2-font-size = 40px
p-font-size = 20px

button-radius = 12px
widget-radius = 12px