section#support
  .left
    iframe(src="https://discord.com/widget?id=1133724201996525619&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts")
  .right
    h2 Customer <span>Support</span>: We're Here To Help
    p Join our thriving <span>Discord</span> community for quick and interactive support. Connect with other users, share experiences, and gain insights from our helpful community members. Our support staff is active on Discord, providing real-time <span>assistance</span> and fostering a supportive environment. Whether you have questions or just want to chat, we're here to make your account generation journey exceptional.
    button.blue Join our Discord