section#home
  .left
    h1 Create Steam Accounts In <span>One</span> Click
    p Web-based tool powered by <span>AI</span> that lets you create steam account with just <span>one</span> click.
    button.green Create for free
  .right
    //- include elements/_steam_profile_big
    //- include elements/_steam_profile_small
    //- include elements/_steam_profile_small
    //- include elements/_captcha