section#info-text
  h2 Largest and <span>fastest</span> Steam <br> account generator!
  p Experience lightning-fast account generation with our steam account generator. <br> <span>Premium</span> users can enjoy the swift creation of accounts in just <span>10 seconds</span>. <br><br> No more waiting around - get started in a flash!